<div class="wrapper wrapper-full-page custom-bg">
  <div class="container-fluid">

    <h1 class="card-title text-white">Login System</h1>

    <carousel>
      <div class="carousel-cell">
        <img src="../../../assets/img/001.jpeg">
      </div>
      <div class="carousel-cell">
        <img src="../../../assets/img/002.jpg">
      </div>
    </carousel>

    <div class="row">
      <div class="col-12 mt-5" align="center">
        <button class="btn btn-accent btn-lg" (click)="login()">
          Login/Register
        </button>
      </div>
    </div>

  </div>
</div>